.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "A B C D E"
  "F G H I J"
  "K L M N O"
  "P Q R S T"
  "U V W X Y"
  "Z"
  ;
}

.padButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  background-color: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  margin: 2px;
}

.padButton:hover {
  border: 1px solid white;
  color: rgb(204, 46, 46);
}

@keyframes borderr {
  from {border: 2px solid green;}
  to {border: 2px solid rgb(91, 88, 214);}
}

@keyframes border2 {
  from {border: 2px solid red;}
  to {border: 2px solid rgb(45, 209, 23);}
}
